<div class="container">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
       url(<%= image_url 'cinema.jpg', alt: "Movie poster" %>)">
    Save any kind of movies
  </div>
  <div class="d-flex flex-wrap">
    <% @lists.each do |list| %>
      <div class="card-movie">
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, crop: :fill %>
        <% else %>
          <%= image_tag "cinema.jpg", alt: "Movie poster" %>
        <% end %>
        <div class="card-movie-infos">
          <div>
            <%= link_to list.name, list_path(list) %>
          </div>
          <%= link_to list_path(list), class: "card-movie-pricing",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
              <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
