<div class="container">
  <% if @list.photo.attached? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
         url('<%= cl_image_path @list.photo.key, crop: :fill %>')">
  <% else %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
         url(<%= image_url 'cinema.jpg', alt: "Movie poster" %>)">
  <% end %>
    <%= @list.name %>
  </div>

  <div class="d-flex flex-wrap">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-movie">
        <%= image_tag bookmark.movie.poster_url, alt: "Movie poster" %>
        <div class="card-movie-infos">
          <div>
            <h2><%= bookmark.movie.title %> &bull; <%= bookmark.movie.rating %> <i class="fa-regular fa-star"></i></h2>
            <p><%= bookmark.comment %></p>
          </div>
          <%= link_to bookmark_path(bookmark),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
              <i class="fa-regular fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Button trigger modal -->
  <div data-controller="render-modal">
    <button type="button" class="btn-ghost" id="modal-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Add Bookmark
    </button>
  </div>

  <% if @show_modal %>
    <script>
      document.querySelector('#modal-btn').click();
    </script>
  <% end %>

  <%= render 'bookmarks/modal' %>

  <hr>

  <%= render 'reviews/reviews' %>
</div>
